section{
  /* border:1px solid gray; */
}
section>.main-banner{}
section>.main-banner>.inner{}
section>.main-banner>.inner>.swiper{
  border:1px solid gray;
  height:530px;
  /* height:530px; */

}
section>.main-banner>.inner>.swiper>.swiper-wrapper{}
section>.main-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide{
  display:flex;
  justify-content: center;
  align-items: center;

}
section>.main-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide .text-group{
  width : 600px;
  height : 400px;
  background-color: white;
  border-radius: 0 0 25px 25px;
  position:absolute;
  left:100px;
  top:0px;
  font-size:3rem;
  font-weight:700;
  padding:50px;
}
section>.main-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide .text-group *{
  margin:10px;
}
section>.main-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide .text-group p{
  font-size:2rem;
  
}
section>.main-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide .text-group h2{}
section>.main-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide .text-group span{}

section>.main-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide img{
  width:100%;
  height:100%;
}

section>.main-banner>.inner>.swiper>.swiper-button-prev::after,
section>.main-banner>.inner>.swiper>.swiper-button-next::after
{
  display:none;
}
section>.main-banner>.inner>.swiper>.swiper-button-prev,
section>.main-banner>.inner>.swiper>.swiper-button-next
{
  width : 50px;
  height : 50px;
  border-radius: 50%;
  font-size:2rem;
  color:black;
  font-weight:700;
  background-color:white;
  /* border : 1px solid greenyellow; */
  position:absolute;
  left:1%;
  top:50%;
}
section>.main-banner>.inner>.swiper>.swiper-button-next{
  left:95.5%;
 
}

section>.main-banner>.inner>.swiper>.swiper-button-prev:hover,
section>.main-banner>.inner>.swiper>.swiper-button-next:hover
{
  opacity: .5;
}


.main-banner .swiper-pagination{
    background-color:orange;
    /* display:block;
    height : 30px;
    line-height:20px;
    width : 100%;
    position:absolute;
    bottom:0; */

}
.main-banner .swiper-scrollbar
{
    height:30px;
    background-color :aqua;
}